body {

    background-image: url("https://i.pinimg.com/originals/ce/2f/9a/ce2f9a109599a284b214db7984194409.jpg");

    font-family: "Courier New";

    color: rgb(0, 0, 0);

}



@media screen and (max width: 800px);



img.center {

        position: absolute;

        top: 150px;

        right: 400px;

        width: 700px;

        height: 500px;

}



img.gif {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 80px;

}



img.gif2 {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 230px;

}



img.gif3 {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 380px;

}



img.gif4 {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 530px;

}



img.gif5 {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 80px;

    right: 10px;

}



img.gif6 {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 230px;

    right: 10px;

}



img.gif7 {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 380px;

    right: 10px;

}



img.gif8 {

    position: absolute;

    width: 100px;

    height: 75px;

    top: 530px;

    right: 10px;

}



img.noomi {

    width: 400px;

    height: 400px; 

    float: left;

    top: 100px;

}



img.quincy {

    width: 500px;

    height: 400px; 

    float: right;

    top: 100px;

}



img.reymark{

    width: 400px;

    height: 400px; 

    float: right;

    top: 100px;

}



img.merve {

    width: 450px;

    height: 400px; 

    float: left;

    top: 100px;

}



h1 {

    font-size: 70px;

    text-align: center;

    -webkit-text-stroke: 1px black;

    

    

}



h2 {

    font-size: 50px;

    text-align: left;

    margin-top: 600px;

    -webkit-text-stroke: 1px black;

    

}



h3 {

    font-size: 50px;

    text-align: right;

    margin-top: 300px;

    -webkit-text-stroke: 1px black;

}



h4 {

    font-size: 50px;

    text-align: left;

    margin-top: 100px;

    -webkit-text-stroke: 1px black;

}



h5 {

    font-size: 50px;

    text-align: center;

    margin-top: 70px;

    -webkit-text-stroke: 1px black;

}



p.thick {

    font-size: 25px;

    font-weight: bolder;

    -webkit-text-stroke: 1px black;

}



p.thicker {

    font-size: 25px;

    font-weight: bold;

    text-align: left;

    margin-top: 50px;

    -webkit-text-stroke: 1px black;

}



p.thickest {

    font-size: 25px;

    font-weight: bolder;

    text-align: right; 

    -webkit-text-stroke: 1px black;

}



p.quincy {

    font-size: 25px;

    font-weight: bolder;

    text-align: left;

    -webkit-text-stroke: 1px black;

}

p.reymark {

    font-size: 25px;

    font-weight: bolder;

    text-align: left; 

    -webkit-text-stroke: 1px black;

}



p.noomi {

    font-size: 25px;

    font-weight: bolder;

    text-align: right;

    -webkit-text-stroke: 1px black;



}



p.merve {

    font-size: 25px;

    font-weight: bolder;

    text-align: right;

    -webkit-text-stroke: 1px black;

}





img.pic1 {

    position: absolute;

    width: 450px;

    height: 300px;

    top: 1150px;

}

footer.site-footer {

    text-align: right;

}



#back-to-top {

  background: #9f3e2e;

  color: #d9ccb0;

  cursor: pointer;

  float: right;

  font-family: "Courier New", serif;

  font-size: 20px;

  height: 70px;

  line-height: 1;

  padding: 32px 30px 0 10px;

  position: relative;

  text-decoration: none;

  text-transform: uppercase;

  z-index: 1;